<section>
    <form nz-form>
        <h1 style="text-align: center; cursor: pointer;" routerLink="/">Apex Fit Colombia</h1>
        <h2>Iniciar sesión</h2>
        <nz-form-item style="margin-bottom: 0;">
            <nz-form-control>
                <input nz-input placeholder="Usuario"/>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item style="margin-bottom: 0;">
            <nz-form-control>
                <input nz-input placeholder="Contraseña"/>
            </nz-form-control>
        </nz-form-item>
        <div style="text-align: right">
            <a routerLink="/forgot-password">¿Olvidaste tu contraseña?</a>
        </div>
        <section class="controls">
            <button nz-button type="button" nzType="primary">Iniciar sesión</button>
            <button nz-button type="button" nzType="text" routerLink="/registrarse">Registrarse</button>
        </section>
    </form>
</section>
<footer>
    <div>
        Copyright © 2025 Grupo Novah SAS.
    </div>
    <div>
        Soporte
    </div>
</footer>