:host {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100vh;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        width: 100%;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        h1, h2 {
            margin: 0;
        }

        .controls {
            display: flex;
            flex-direction: column;
            row-gap: .5rem;
            button {
                width: 100%;
            }
        }
    }
}

footer{
    font-size: small;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: .3rem 1rem;
}