:host {
    display: grid;
    grid-template-rows: auto auto 1fr;
    row-gap: 1rem;
}
h1 {
    margin: 0;
}
.filters {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: .5rem;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        border-radius: 8px;
        border: 1px solid var(--app-palette-divider);
        display: grid;
        grid-template-columns: 3rem 1fr;
        padding: .5rem;
        column-gap: .8rem;
        .avatar {
            background-color: aliceblue;
            border-radius: 50%;
        }
        .info {
            .name {
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
}