<header class="layout-header">
    <div class="logo" routerLink="/">
        Apex Fit
    </div>
    <nav>
        <ul>
            <li><a routerLink="/ejercicios" routerLinkActive="active">Ejercicios</a></li>
            <li><a routerLink="/workouts" routerLinkActive="active">Workouts</a></li>
            <li><a routerLink="/atletas" routerLinkActive="active">Atletas</a></li>
            <li><a routerLink="/competencias" routerLinkActive="active">Competencias</a></li>
            <li><a routerLink="/gyms" routerLinkActive="active">Gyms</a></li>
        </ul>
    </nav>
    <div class="access-control">
        @if (isLoggedIn()){
            <div class="cursor-pointer" (click)="openMenuUser()" aria-hidden="true">{{ name() }}</div>
        } @else {
            <button nz-button routerLink="/login">Iniciar sesión</button>
            <button nz-button nzType="primary" routerLink="/registrarse">Registrarse</button>
        }
    </div>
</header>

<section class="layout-content">
    <main>
        <router-outlet/>
    </main>
    <footer>
        <div>
            Copyright © 2025 Grupo Novah SAS.
        </div>
        <div>
            Soporte
        </div>
    </footer>
</section>