<header class="layout-header">
    <div class="logo">
        Apex Fit
    </div>
    <nav>
        <ul>
            <li><a routerLink="/ejercicios" routerLinkActive="active">Ejercicios</a></li>
            <li><a routerLink="/workouts" routerLinkActive="active">Workouts</a></li>
            <li><a routerLink="/atletas" routerLinkActive="active">Atletas</a></li>
            <li><a routerLink="/competencias" routerLinkActive="active">Competencias</a></li>
            <li><a routerLink="/gyms" routerLinkActive="active">Gyms</a></li>
        </ul>
    </nav>
    <div class="menu-toggle">
        <button>Iniciar sesión</button>
        <button>Registrarse</button>
    </div>
</header>

<section class="layout-content">
    <main>
        <!-- <router-outlet></router-outlet> -->
    </main>
    <footer>
        <div>
            Copyright © 2025 Grupo Novah SAS.
        </div>
        <div>
            Soporte
        </div>
    </footer>
</section>